*{
    margin: 0;
    padding: 0;
} 

.divflex{
    display: flex;
    justify-content: center;
}
.logo{
    width: 10vw;
}

#div1{
    width: 10vw;
    height: auto;
    background-color: #3d3e3b;
    position:relative;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
}

.p{
    width: 18vh;
    border: 5px #000000;
    background-color: #9DA993;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
}
.p:hover{
    background-color: #746C70;
}
span{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: #000000;
} 

@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&family=Rock+Salt&display=swap');


:root {
  --white: #fff;
  --yellow: #e8ba45;
  --gray: #959595;
  --dark: #c46363;
}

body{
    background-color: #000000;
}
#section1{
    background: linear-gradient(#353534, #000000);
    height: 25vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, button, input, textarea {
  font: 400 16px "Roboto", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}


/* sobre.html */
/* Header */
.main-header {
  background-image: url("images/background-image.png");
  background-position: 50% 39%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-nav {
  width: 100%;
}

.header-list-container {
  padding: 16px 0;
}

.nav-item {
  text-transform: uppercase;
  color: var(--white);
  transition: 0.2s;
}

.nav-item:hover {
  color: rgba(255, 255, 255, 0.8);
}

hr {
  width: 80%;
  border-color: #daa520;
}

.movie-title-large {
  /* text-align: center; */
  font-size: 54px;
}


/* Main */
.main-section {
  padding: 40px 0 64px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 16px
}

.section-title {
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 24px;
}



/*  Footer  */
footer{
    background: linear-gradient(#353534, #000000);
    height: 25vh;
    bottom: auto;
}




/* loja.html */

/* Main */
.normal-section + .normal-section {
  margin-top: 80px;
}


.products-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.movie-product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-title {
  font-size: 20px;
  margin-bottom: 6px;
  color: #e8ba45;
}

.product-image {
  width: 220px;
  height: 224px;
}

.product-price-container {
  margin-top: 8px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.product-price {
  margin-right: 12px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: #fff;
}

.button-hover-background {
  background: var(--yellow);
  color: var(--white);
  border: 2px solid var(--yellow);
  border-radius: 6px;
  padding: 4px 2px;
  font-weight: bold;

  transition: 0.2s;
}

.button-hover-background:hover {
  background: transparent;
  color: var(--yellow);
}

/* tabela carrinho de compras */
.cart-table {
  width: 100%;
  border-collapse: collapse;
}

.table-head-item {
  text-align: start;
  border-bottom: 1px solid var(--gray);
  padding-bottom: 6px;
  text-transform: uppercase;
}

.second-col,
.third-col {
  width: 26%;
  color: #fff;
}

.cart-product td {
  padding: 8px 0;
  color: #fff;
}

.product-identification {
  display: flex;
  align-items: center;
}

.cart-product-image {
  width: 120px;
  height: 70px;
}

.cart-product-title {
  margin-left: 16px;
  font-size: 18px;
}

.cart-product-price {
  font-family: "Raleway", sans-serif;
}

.product-qtd-input {
  width: 48px;
  height: 34px;
  border-radius: 6px;
  border: 2px solid var(--dark);
  text-align: center;
  background: #eee;
}

.remove-product-button {
  margin-left: 12px;
  background: #e8ba45;
  color: var(--white);
  padding: 10px 8px;
  border: 0;
  border-radius: 6px;

  transition: filter 0.2s;
}

.remove-product-button:hover {
  filter: brightness(0.8);
}

.cart-total-container {
  border-top: 1px solid var(--gray);
  text-align: end;
  padding: 6px 16px 0 0;
  font-size: 18px;
}

.cart-total-container strong {
  margin-right: 12px;
}

.purchase-button {
  display: flex;
  margin: 24px auto 0;
  background: var(--dark);
  color: var(--white);
  border: 0;
  border-radius: 6px;
  padding: 16px 20px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;

  transition: filter 0.2s;
}

.purchase-button:hover {
  filter: brightness(0.8);
}


.tot{
    color: #fff;
}

